/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seção de Produtos */
#produtos {
    padding: 50px;
    text-align: center;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.produto {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    font-size: 1.5em;
    color: #333;
}

.produto p {
    font-size: 1.2em;
    color: #555;
}

.produto button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.produto button:hover {
    background-color: #218838;
}

/* Carrinho */
.carrinho {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    display: none;
}

#itensCarrinho {
    list-style-type: none;
    padding: 0;
}

#itensCarrinho li {
    padding: 5px 0;
}

/* Mapa */
#map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}

/* Estilos para a seção de Contato */
#contato {
    text-align: center;
    padding: 50px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
